body{
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.app-container{
  display: flex;
  height: 100vh;
}

.sidebar{
  width: 240px;
  background: #1e293b;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar nav{
  display: flex;
  flex-direction: column;
  gap: 12px;

}

.sidebar a{
  text-decoration: none;
  color: #cbd5e1;
  font-weight: 500;
}

.sidebar a:hover{
  color: #38bdf8;
}

.content{
  flex: 1;
  padding: 40px;
}

/* Dashboard-Design */

.dashboard{
  margin-bottom: 5px
}

.subtitle{
  color: #94a3b8;
  margin-bottom: 25px;
}

.top-grid{
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.metrics-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}

.card{
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.viewer-placeholder{
  height: 250px;
  background: #020617;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #64748b;
}

.metric-value{
  font-size: 24px;
  font-weight: bold;
}

.primary-btn{
  margin-top: 10px;
  padding: 8px 14px;
  border: none;
  background: #38bdf8;
  color: black;
  border-radius: 6px;
  cursor: pointer;
}

.primary-btn:hover{
  background: #0ea5e9;
}

.warning-card{
  border-left: 4px solid #facc15;
}

